/*
Jessica Kincaid
LC101 HTML-Me-Something
October 8, 2018
This css will incorporate styles for margin, padding, element, class and id.
*/
* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    width: 90%;
}
#container {
    margin: 1em;
    width: 90%;
    margin: 5%;
}
header {
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
}
h1 {
    text-align: center;
    padding: 0.25em;
    margin: 0 auto;
    background-color: red;
    border: 5px solid #000;
    border-radius: 5px;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
}

a {
    color: #fff;
    font-size: 32px;
    margin: 5px;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    background-color: red;
}
a:hover {
    text-decoration: none;
    color: goldenrod;
  }

a:active {
    text-decoration: none;
    color: #000;
 }

a:visited {
    text-decoration: none;
    background-color: #000;
 }
.main-content {
  width: 75%;
    position: relative;
    margin-left: 15%;
}

h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 18px;
}
img {
    max-width: 75%;
    padding: 1em;
    border: 3px solid red;
}
footer {
  margin: 2em;
}
