<<<<<<< HEAD
/*
Jessica Kincaid
LC101 HTML-Me-Something
October 8, 2018
This css will incorporate styles for margin, padding, element, class and id.
=======
/* 

Jessica Kincaid

LC101 HTML-Me-Something 

October 8, 2018

This css will incorporate styles for margin, padding, element, class and id. 

>>>>>>> 5e144d311ba8e3f23558c35d566b03bf536bd665
*/
* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    width: 90%;
}
#container {
    margin: 1em;
<<<<<<< HEAD
    width: 90%;
    margin: 5%;
=======
>>>>>>> 5e144d311ba8e3f23558c35d566b03bf536bd665
}
header {
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
}
h1 {
    text-align: center;
    padding: 0.25em;
    margin: 0 auto;
    border: 5px solid red;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
<<<<<<< HEAD
}

a {
    color: #fff;
    font-size: 32px;
    margin: 5px;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    background-color: red;
}
a:hover {
    text-decoration: none;
    color #000;
  }
a:active {
    text-decoration: none;
    color: #fff;
}
=======
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    background-color: red;
    margin: 5px;
    padding: 7px;
    border-radius: 3px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
<<<<<<< HEAD
    color #000;
=======
    color: yellow;
>>>>>>> c5b11a1dd4fc6ce52380d9769342088e69ec0ab2

a:active {
    text-decoration: none;
    color: #fff;

>>>>>>> 5e144d311ba8e3f23558c35d566b03bf536bd665
a:visited {
    text-decoration: none;
    color: #fff;
}
.main-content {
<<<<<<< HEAD
  width: 75%;
    position: relative;
    margin-left: 15%;
}
section {
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
img {
    max-width: 75%;
    padding: 1em;
    border: 3px solid red;
}
footer {
  margin: 2em;
}
=======
    position: relative;
    margin-left: 3em;
}
section {
    width: 80%;
    margin-left: 15%;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 28px;
}
img {
    max-width: 40%;
    padding: 2em;
    border: 3px solid red;
}
>>>>>>> 5e144d311ba8e3f23558c35d566b03bf536bd665
